extends layout
block scriptInHeader
    script(src="/js/jquery.min.js")
    script(src="/js/md5.js")

block content
    div
        button.btn-logout logout
    div
        button.btn-publish Publish
    div
        label(for="isUpdateDependencies") is update dependencies
        input(type="checkbox", id="isUpdateDependencies")
    .history
        ul
            if(tags.length)
                each tag in tags
                    
                    li
                        h3= tag.name
                        .message= tag.message
                        button rollback
            else
                li No History
    script.
        function logout(){
            $.ajax({
                url: '/logout',
                type: 'POST',
                success: function(){
                    location.reload()
                },
                error: function(xhr){
                    alert(xhr.status + ': ' + xhr.responseText)
                }
            })
        }
        $('.btn-logout').click(logout)
        
        $('.btn-publish').click(function(){
            $.ajax({
                url: '/api/publish',
                type: 'GET',
                success: function(msg){
                    console.log(msg)
                },
                error: function(xhr){
                    console.log(xhr)
                }
            })
        })
